{% extends "app/layoutBS.cshtml" %}

{% block nav_contact %}
    style="background-color: #e6e8ed;"
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Contact <strong>Great American Natural Pet Food</strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-8">
                <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
                <iframe width="100%" scrolling="no" height="400" frameborder="0" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=39.6987745, -86.15941800000002&amp;q=16%20Maxwell%20Road%2C%20Indianapolis%2C%20IN%2046217+(Great%20American%20Natural%20Pet%20Food%20LLC)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" marginwidth="0" marginheight="0"></iframe>
            </div>
            <div class="col-md-4">
                <p>
                    Address: <strong>16 Maxwell Rd.<br>Indianapolis, IN 46217</strong>
                </p>
                <p>
                    Phone: <strong>(317) 800-2881</strong>
                </p>
                <p>
                    Email: <strong>info@greatamericannaturalpetfood.com</strong>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Contact <strong>Form</strong>
                </h2>
                <hr>
                <form role="form">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label>Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Email Address</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Phone Number</label>
                            <input type="tel" class="form-control">
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-12">
                            <label>Message</label>
                            <textarea rows="6" class="form-control"></textarea>
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="hidden" value="contact" name="save">
                            <button class="btn btn-default" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}