{% extends "app/layoutBS.cshtml" %}

{% block nav_resources %}
    style="background-color: #e6e8ed;"
{% endblock %}

{% block content %}

<div class="container">
    {% load staticfiles %}

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Resources</strong>
                </h2>
                <hr>
                <img class="img-responsive img-border" src="{% static 'app/img/resources.jpg' %}" alt="">
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Transitioning Your Pet To A <strong>Raw Diet</strong>.
                </h2>
                <hr>
                <h6>
                    <strong>The Basics</strong>
                </h6>
                <p>
                    Every pet is unique and there is no single “one size fits all” approach to transitioning your pet from kibble or canned food to a more natural, holistic, raw meat-based diet.
                    There are, however, some basic principles and techniques that apply in most cases:
                    <ul class="ul-index">
                        <li>Be positive: dogs and cats are very sensitive to apprehensions or skepticism. Being confident will reassure your pet about your choice to change to a new diet.</li>
                        <li>Go slow with older pets: the older the pet (or the longer it has been eating kibble), the longer you should take to transition to the new diet.</li>
                        <li>Choose one meat to start: while variety is the key to good health when feeding a raw diet, it’s best to start with one type of meat during your transition (preferably the same meat type you are currently feeding). This will make it easier on your pet’s digestive system.</li>
                        <li>Fast your pet the night before: your pet will have a greater interest in the new food the next morning and this also gives their digestive system a chance to rest.</li>
                        <li>Limit treats during the transition: especially flour/grain based ones, in order to increase your pet’s appetite for its meals.</li>
                        <li>Provide access to plenty of clean water.</li>
                    </ul>
                </p>
                <h6>
                    <strong>Puppies and Kittens</strong>
                </h6>
                <p>
                    Puppies and kittens will generally have healthier digestive systems, and therefore will tolerate a more rapid switch (1 or 2 days) with no trouble.
                    Start by substituting ¼ Great American Natural Pet Food for your puppy or kitten’s current food in each meal, gradually increasing the raw food while proportionately decreasing the kibble until the transition is complete.
                </p>
                <h6>
                    <strong>Healthy Pets</strong>
                </h6>
                <p>
                    Younger and healthier pets can transition more quickly than older pets or pets with digestive issues.
                    If your pet has no signs of illness or digestive difficulties such as loose stools, constipation or occasional vomiting, then you may be able to transition them in 5-7 days.
                    This gradual transition aids in helping your pet’s gastrointestinal system adapt to the new meals.
                </p>
                <ul class="ul-index">
                    <li>Day 1 - Begin by substituting 1⁄8th Great American Natural Pet Food (GANPF) for your pet’s current food.</li>
                    <li>Day 3 - After three more meals, double the GANPF portion (to ¼), while reducing the kibble by the same amount.</li>
                    <li>Day 5 - After three more meals, double the GANPF portion again (to ½) and reduce the kibble again.</li>
                    <li>Day 7 - After feeding ½ GANPF for 3 more meals, give a meal of all GANPF. If your pet tolerates this well with no digestive upset or other symptoms of discomfort, you have successfully switched your pet!</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Why choose a <strong>Raw Diet</strong> for your pet?
                </h2>
                <hr>
                <p>
                    A diet made up primarily of raw meat, organs and bone is the healthiest way to feed your pet.  Eliminate the waste products of dry kibble food and step your pet up to the diet that nature intended.
                    Here are just a few of the benefits of a raw diet for your pet:
                </p>

                <ul class="ul-index">
                    <li>Increased Muscle Mass</li>
                    <li>Better Agility (Less Arthritis)</li>
                    <li>Healthier Coat</li>
                    <li>Superior Nutrition</li>
                    <li>More Energy</li>
                    <li>Stronger Teeth</li>
                    <li>Stronger Bones</li>
                    <li>Better Immune System</li>
                    <li>Reduced Allergies</li>
                    <li>Healthier Digestive System</li>
                    <li>Smaller, Less Odorous, Stool</li>
                </ul>

                <p>
                    Our raw pet food consists of organic, hormone free, antibiotic free, grass fed meat as well as bone matter, organs, fruits and vegetables.  We have plain ground (all meat/bone) and mixed grind (inc. fruits & veggies).
                    When you bring home Great American Natural Pet Food, you are serving your pet <strong>human grade</strong> food with absolutely no fillers.
                </p>
            </div>
        </div>
    </div>

</div>

{% endblock %}

<!--<script src="{% static 'app/scripts/bootstrap.js' %}"></script>-->
